html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
<<<<<<< Updated upstream
}
=======
<<<<<<< Updated upstream
<<<<<<< Updated upstream
}
=======
=======
>>>>>>> Stashed changes
}

.nav {
    background-color: #e3f2fd;

}

.MainOne {
    display: grid;
    grid-template-columns: 200px minmax(500px,1800px);

}
<<<<<<< Updated upstream
.main {
    display: flex;
}
=======

>>>>>>> Stashed changes

.jumbo-features{
    display: flex;
    flex-wrap: nowrap; 
    flex-direction: column;
   
}
.sidebar {
    height:100%;
    width: 200px;
}

<<<<<<< Updated upstream

=======
.MainCrud{

}
>>>>>>> Stashed changes
>>>>>>> Stashed changes
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
